@import "./font/fonts.css";
/*root styling*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Lato,'sans-serif';
}
html,body{
    scroll-behavior: smooth;
    background: url("../images/Background Image.png") no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 0% 9%;
}

/*global styling*/
:focus {
    outline: none !important;
}
::placeholder{
    font-size: 17px;
}
a{
    text-decoration: none;
}
/*section styling*/

/*Navigation Menu*/
.navbar-brand{
    font-size: 2vw;
}
.navbar-dark .navbar-toggler{
    border: none;
}
.navbar-dark .navbar-nav .nav-link{
    position: relative;
    color: #fff !important;
    font-size: 16px !important;
    margin-left: 25px;
}
.navbar .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.navbar .navbar-nav .nav-link:hover::before{
    opacity: 1;
    visibility: visible;
}
.navbar .navbar-nav li{
    position: relative;
}


/*Navigation Menu end*/

/*Header content*/
.header-content{
    margin-top: 17vw;
    margin-bottom: 37vw;
}
.header-content .content{
    display: flex;
    justify-content: center;
}
.header-content .content .content-wrap{
    color: #fff;
}
.header-content .content .content-wrap h3{
    font-size: 2vw;
    letter-spacing: 1px;
    margin-bottom: -10px;
    padding-left: 20px;
}
.header-content .content .content-wrap h1{
    font-size: 4vw;
    margin-bottom: 10px;
    position: relative;
}
.header-content .content .content-wrap h1::after{
    content: '';
    position: absolute;
    right: 0;
    width: 180px;
    height: 3px;
    display: block;
    background: #fff;
}
.header-content .content .content-wrap p{
    font-size: 14px;
    color: #ccc;
    text-align: right;
}
/*Header content end*/

/*Feature content*/
#feature{
    padding-top: 70px;
}
#feature h2{
    font-size: 2rem;
    font-weight: bold;
}
#feature p{
    font-size: 17px;
    color: #6c6c6c;
}
/*Feature content end*/

/*parallax*/
.parallax{
    margin: 70px 0;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/reservation.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Lucida Sans",'sans-serif';
}
.parallax h1.para-head,
.parallax h1.secnd{
    font-family: Righteous,'sans-serif';
}
/*parallax end*/

/*Contact*/
#contact h1{
    font-size: 2rem;
}
#contact input{
    width: 25vw;
}
#contact textarea{
    width: 52vw;
    resize: none;
}
#contact input:focus::placeholder,
#contact textarea:focus::placeholder
{
    transform: scaleX(0);
}
#contact button{
    border: 1px solid #ccc;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #727272;
}
/*Contact end*/

/*Blog*/
#blog{
    margin: 70px 0;
}
#blog .parallax1{
    height: 40vw;
    background: url("../images/Reflection - Sample Image - PiXimperfect.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
#blog h2{
    font-size: 2.4vw;
    font-weight: 700;
    margin-bottom: 25px;
    color:#000;
}
#blog p{
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 32px;
    padding: 0 10px;
}
#blog .btn1,
#blog .btn2{
    background: transparent;
    border: 1px solid lightskyblue;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s;
}
#blog .btn1:hover{
    background: #45ADC0;
}
#blog .btn2{
    background: #45ADC0;
}
#blog .btn2:hover{
    background: transparent;
}
/*Blog end*/

/*Objective*/
#our-objective{
    background: url("../images/Footer.png") no-repeat center center;
    background-size: cover;
}
#our-objective .obj-img{
    position: relative;
}
#our-objective h2.count{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 8vw;
}
/*Objective end*/

/*footer*/
.footer p{
    font-size: 16px;
}
.footer p a{
    text-decoration: none;
    color: #00e6e6;
}
/*footer end*/



/*--------------Responsive Section---------------*/
@media only screen and (max-width: 992px ) {
    /*header*/
    .header-content .content .content-wrap h1::after{
        display: none;
    }
    .navbar-brand{
        font-size: 2.4vw;
    }
    /*feature*/
    #feature h2{
        font-size: 4vw;
    }
    /*parallax*/
    .parallax h1{
        font-size: 2.2rem;
    }
    /*contact*/
    #contact h1{
        font-size: 4vw;
    }
    #contact input{
        width: 52vw;
    }
    /*blog*/
    #blog h2{
        font-size: 3vw;
    }
    /*objective*/
    #our-objective h2.obj-title{
        font-size: 4vw;
    }
    #our-objective h2.count{
        padding-top: 10vw;
    }
}
@media only screen and (max-width: 767px ) {
    /*header*/
    .header-content .content .content-wrap h1::after{
        display: none;
    }
    .navbar-brand{
        font-size: 3vw;
    }
    .header-content .content .content-wrap h3{
        font-size: 3vw;
        margin-bottom: -5px;
    }
    .header-content .content .content-wrap h1 {
        font-size: 5vw;
    }
    .navbar .navbar-nav .nav-link::before{
        display: none;
    }
    /*feature*/
    #feature h2{
        font-size: 4.5vw;
    }
    /*parallax*/
    .parallax h1{
        font-size: 1.8rem;
    }
    .parallax h1.secnd{
        padding-top: 2.3rem !important;
    }
    /*contact*/
    #contact{
       margin-bottom: 15vw !important;
    }
    /*blog*/
    #blog .parallax1 img{
        display: none;
    }
    #blog h2{
        font-size: 4vw;
    }
    #blog .parallax1 .btn1{
        float: none !important;
        margin-bottom: 15px;
    }
    #blog .parallax1 .btn2{
        float: none !important;
    }
    #blog .parallax1{
        height: 50vw;
    }
    /*objective*/
    #our-objective h2.count{
        padding-top: 14vw;
    }
}
@media only screen and (max-width: 740px ) {
    .navbar-brand{
        font-size: 3.3vw;
    }
    /*contact*/
    #contact input{
        width: 70vw;
    }
    #contact textarea {
        width: 70vw;
    }
}
@media only screen and (max-width: 670px ) {
    /*header*/
    .header-content {
        margin-bottom: 45vw;
    }
    .navbar-brand{
        font-size: 3.5vw;
    }
    /*feature*/
    #feature h2{
        font-size: 4.8vw;
    }
    /*parallax*/
    .parallax h1{
        font-size: 1.6rem;
    }
    .parallax h1.secnd{
        padding-top: 2rem !important;
    }
    #blog .parallax1{
        height: 60vw;
    }
    /*objective*/
    #our-objective h2.count{
        padding-top: 16vw;
    }
    #our-objective h2.obj-title{
        font-size: 5vw;
    }
}
@media only screen and (max-width: 575px ) {
    /*header*/
    .header-content {
        margin-bottom: 55vw;
    }
    .navbar-brand{
        font-size: 4vw;
    }
    /*feature*/
    #feature h2{
        font-size: 5.5vw;
    }
    /*parallax*/
    .parallax h1{
        font-size: 1.32rem;
    }
    .parallax h1.secnd{
        padding-top: 1.5rem !important;
    }
    #blog .parallax1{
        height: 70vw;
    }
    /*contact*/
    #contact h1{
        font-size: 5.5vw;
    }
    #contact{
        margin-bottom: 20vw !important;
    }
    #contact input{
        width: 80vw;
    }
    #contact textarea {
        width: 80vw;
    }
    /*objective*/
    #our-objective h2.count{
        padding-top: 18vw;
    }
}
@media only screen and (max-width: 500px ) {
    /*header*/
    .header-content{
        margin-top: 18vw;
        margin-bottom: 65vw;
    }
    .navbar-brand{
        font-size: 4.5vw;
    }
    .header-content .content .content-wrap h3{
        margin-bottom: 0;
        font-size: 4vw;
    }
    .header-content .content .content-wrap h1 {
        font-size: 6vw;
    }
    /*objective*/
    #our-objective h2.count{
        padding-top: 24vw;
    }
    #our-objective h2.obj-title{
        font-size: 5.7vw;
    }
    /*blog*/
    #blog .parallax1{
        height: 75vw;
    }
    #blog h2{
        font-size: 5vw;
    }

}
@media only screen and (max-width: 450px ) {
    .navbar-brand{
        font-size: 5vw;
    }
    /*blog*/
    #blog .parallax1{
        height: 85vw;
    }
    #blog h2{
        font-size: 5.5vw;
    }
}
@media only screen and (max-width: 400px ) {
    /*blog*/
    #blog .parallax1{
        height: 95vw;
    }
    #blog h2{
        font-size: 6vw;
    }
}
@media only screen and (max-width: 370px ) {
    /*header*/
    .header-content{
        margin-top: 25vw;
        margin-bottom: 80vw;
    }
    .navbar-brand{
        font-size: 5.5vw;
    }
    /*feature*/
    #feature h2{
        font-size: 6.5vw;
    }
    /*parallax*/
    .parallax h1{
        font-size: 1rem;
    }
    .parallax h1.secnd{
        padding-top: 1.5rem !important;
    }
    /*contact*/
    #contact h1{
        font-size: 6.5vw;
    }
    #contact{
        margin-bottom: 25vw !important;
    }
    /*objective*/
    #our-objective h2.count{
        padding-top: 28vw;
    }
    #our-objective h2.obj-title{
        font-size: 6.3vw;
    }
    /*blog*/
    #blog .parallax1{
        height: 97vw;
    }
    #blog h2{
        font-size: 6.3vw;
    }
}
@media only screen and (max-width: 360px ) {
    /*parallax*/
    .parallax{
        display: none;
    }
    /*contact*/
    #contact{
        padding-top: 100px !important;
    }
}
@media only screen and (max-width: 342px ) {
    /*header*/
    .header-content{
        margin-bottom: 90vw;
    }
    .navbar-brand{
        font-size: 6.5vw;
    }
    /*parallax*/
    .parallax{
        display: none;
    }
    /*contact*/
    #contact{
        margin-bottom: 25vw !important;
    }
    /*objective*/
    #our-objective h2.count{
        padding-top: 32vw;
    }
    #our-objective h2.obj-title{
        font-size: 6.8vw;
    }
    /*blog*/
    #blog .parallax1{
        height: 120vw;
    }
    #blog h2{
        font-size: 6.3vw;
    }
}